<div class="row">
  <div class="col-md-6">

    <%= simple_form_for @server_info do |f| %>
    <%= f.error_notification %>
    <%= f.input :server_name %>
    <%= f.input :app_technology, collection: Source.get_source("Technologies"), label: "Technology", prompt: "Selecet Technology"  %>
    <%= f.input :ide, collection: Source.get_source("IDE"), label: "IDE", prompt: "Selecet IDE"  %>
    <%= f.input :scm, collection: Source.get_source("SCM"), label: "SCM", prompt: "Selecet SCM"  %>
    <%= f.input :ci_server, collection: Source.get_source("CI Server"), label: "CI Server", prompt: "Selecet CI Server"  %>
    <%= f.input :configuration_management, collection: Source.get_source("Configuration Management"), as: :check_boxes%>
    <%= f.button :submit, lable: "Create" %>
    <% end %>

  </div>
</div>