<p id="notice"><%= notice %></p>
<p>
  <strong>Server Name:</strong>
  <%= @server_info.server_name %>
</p>
<p><strong>
  Technology
</strong>
<%= @server_info.app_technology %></p>
<p><strong>IDE</strong> <%= @server_info.ide %> </p>

<%= link_to 'Edit', edit_server_info_path(@server_info) %> |
<%= link_to 'Back', server_infos_path %>
 </br> </br>
<%= link_to "Create Server", console_log_path(:id => @server_info.id), :remote => true, class: "btn-success btn-lg"  %>
 </br> </br>

<div id="console" class="console"></div>
  
