<%= simple_form_for(@source) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :source_type, collection: source_types %>
    <%= f.input :name %>
    <%= f.input :ui_view %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
