<p id="notice"><%= notice %></p>

<p>
  <b>Source Type:</b>
  <%= @source.source_type %>
</p>

<p>
  <b>Name:</b>
  <%= @source.name %>
</p>

<p>
  <b>Ui view:</b>
  <%= @source.ui_view %>
</p>


<%= link_to 'Edit', edit_source_path(@source) %> |
<%= link_to 'Back', sources_path %>
